body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.body {
  background-color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
}

.hero-section {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
}

.hero-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.logo-link-block {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #fff;
  text-decoration: none;
}

.logo-link-block.w--current {
  position: relative;
  z-index: 89;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.header-email-link-wrapper-1 {
  position: relative;
  z-index: 89;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-family: 'Noto Sans JP', sans-serif;
  color: transparent;
  font-weight: 400;
  text-decoration: underline;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill;
}

.body-2 {
  background-color: #333;
  color: #1f1e1d;
}

.email-block-text {
  margin-bottom: 3px;
  color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.header-email-link-wrapper {
  background-color: #fff;
  color: #000;
}

.email-text-block {
  margin-bottom: 3px;
  border-radius: 0px;
  color: #fff;
}

.menu-icon-wrapper {
  position: relative;
  z-index: 89;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.menu-icon-inner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.menu-icon-bar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.menu-icon-bar {
  width: 17px;
  height: 2px;
  background-color: #1f1e1d;
}

.menu-icon-bar.second {
  width: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.container {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 9px;
}

.container.hero {
  z-index: 9;
  border-radius: 0px;
}

.container.work {
  z-index: 9;
  width: 100%;
  max-width: 1400px;
  margin-top: 0px;
  padding-right: 50px;
  padding-left: 50px;
}

.container.about {
  z-index: 9;
  width: 100%;
  max-width: 1240px;
  margin-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container.services {
  z-index: 9;
  width: 100%;
  max-width: 1240px;
  margin-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
}

.container.service-points {
  z-index: 9;
  width: 100%;
  max-width: 1240px;
  margin-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

.container.footer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: 1100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 72px;
  line-height: 90px;
  font-weight: 500;
}

.heading-h1.nav {
  text-decoration: none;
}

.heading-h1-span {
  font-weight: 400;
}

.paragraph {
  display: block;
  width: 800px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.5px;
}

.paragraph.work {
  width: 100%;
  max-width: 800px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #1f1e1d;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.paragraph.about {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1100px;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  line-height: 70px;
  font-weight: 600;
}

.paragraph.footer {
  width: 300px;
  margin-top: 60px;
}

.hero-button-link-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-top: 50px;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-text {
  position: relative;
  z-index: 2;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.plus-icon-wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7px;
  height: 7px;
  margin-left: 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.plus-icon {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.plus-icon.second {
  position: absolute;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.button-background {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2%;
  height: 60px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #323135;
}

.button-background.contact {
  background-color: #ff6b50;
}

.button-circle.first {
  width: 60px;
  height: 60px;
  margin-right: -32px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50px;
  background-color: #323135;
}

.button-circle.first.contact {
  background-color: #ff6b50;
}

.button-circle.second {
  position: absolute;
  left: 0px;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin-left: -25px;
  border-radius: 50px;
  background-color: #323135;
}

.button-circle.second.contact {
  background-color: #ff6b50;
}

.sroll-animation-wrapper {
  position: absolute;
  right: 50px;
  bottom: 100px;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.scroll-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1px;
  height: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.scroll-overlay {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.scroll-text-block {
  margin-top: 40px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu-wrapper {
  position: fixed;
  left: 100%;
  top: 0%;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1f1e1d;
}

.menu-inner-wrapper {
  position: relative;
  left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin-top: 50px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.menu-nav-wrapper {
  margin-left: 50px;
}

.nav-link-block.first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nav-link-block.first.w--current {
  text-decoration: none;
}

.nav-link-block.second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-decoration: none;
}

.nav-number-text-block {
  margin-top: 12px;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  text-decoration: none;
}

.menu-content-wrapper {
  width: 260px;
}

.footer-link-wrapper {
  display: block;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #333;
}

.footer-link-block.first {
  overflow: hidden;
  margin-bottom: 12px;
  color: #ff6b50;
  font-size: 16px;
  line-height: 25px;
}

.footer-underline {
  width: 100%;
  height: 1px;
  margin-top: 4px;
  background-color: #f84525;
  color: #ff6b50;
}

.footer-address-menu.menu {
  margin-top: 20px;
  color: #6f6f6f;
}

.social-icons-wrapper.menu {
  margin-top: 35px;
}

.social-icon-link {
  width: 20px;
  margin-right: 40px;
}

.social-icon-link.menu {
  display: inline-block;
  width: 20px;
  margin-right: 40px;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.social-icon {
  width: 20px;
}

.menu-close-icon-wrapper {
  position: absolute;
  top: 60px;
  right: 60px;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.menu-close-icon.first {
  width: 17px;
  height: 1px;
  background-color: #1f1e1d;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #333;
}

.menu-close-icon.second {
  position: absolute;
  width: 17px;
  height: 1px;
  background-color: #1f1e1d;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #333;
}

.hero-video-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.video-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 30, 29, 0.8);
}

.hero-video-background {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
}

.work-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.heading-h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #1f1e1d;
  font-size: 54px;
  line-height: 74px;
  font-weight: 500;
}

.heading-h2.contact {
  position: relative;
  z-index: 9;
  width: 800px;
  color: #fff;
}

.heading-h2-span {
  font-weight: 400;
}

.all-projects-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.projects-block {
  max-width: 1100px;
  min-width: 1200px;
  margin-bottom: 215px;
}

.projects-outer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 47%;
  max-width: 560px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: 'Noto Sans JP', sans-serif;
}

.project-image-wrapper {
  width: 100%;
  background-color: hsla(0, 0%, 61.2%, 0.2);
}

.product-image {
  width: 100%;
  height: 700px;
  background-image: url('../images/1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.product-image.two {
  background-image: url('../images/yogendra-singh--eDcA0EFY3A-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.product-image.four {
  background-image: url('../images/2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.product-image.three {
  background-image: url('../images/3.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-content-wrapper {
  position: absolute;
  right: -40px;
  bottom: 50px;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.heading-h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Montserrat, sans-serif;
  color: #1f1e1d;
  font-size: 36px;
  line-height: 50px;
  font-weight: 600;
}

.project-type {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #1f1e1d;
  font-size: 16px;
  line-height: 25px;
}

.about-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-background {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #f84525;
}

.about-text-block {
  margin-bottom: 40px;
  color: #fff;
  line-height: 28px;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.about-text-block.services {
  color: #f84525;
}

.about-dots-image {
  position: absolute;
  right: 15%;
  bottom: 30px;
  width: 100px;
  opacity: 0.75;
}

.about-dots-image.rotated {
  right: 23%;
  bottom: 14px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.services-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-text-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.services-heading-block.first {
  width: 100%;
  max-width: 700px;
}

.services-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 750px;
  margin-top: 180px;
  margin-bottom: 180px;
  background-image: url('../images/5.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.services-image-overlay {
  width: 10%;
  height: 100%;
  background-color: #fff;
}

.services-heading-wrapper {
  width: 900px;
  margin-bottom: 120px;
}

.services-points-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.services-points-outer-wrapper.first {
  width: 300px;
  margin-right: 155px;
}

.service-point-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.service-point-inner-block {
  position: relative;
}

.service-type {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 32px;
}

.service-type-background-on-hover {
  position: absolute;
  right: -20px;
  bottom: -3px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.check-icon-image {
  width: 12px;
}

.contact-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-background {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #f84525;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1f1e1d;
  font-family: 'Noto Sans JP', sans-serif;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-logo-wrapper {
  margin-top: 0px;
}

.footer-text-block {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.footer-link-blocks-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-address {
  margin-top: 15px;
  color: #6f6f6f;
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .hero-wrapper {
    padding-right: 30px;
    padding-left: 30px;
  }

  .header {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container.hero {
    width: auto;
    max-width: 1200px;
    margin-top: 80px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .container.about {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container.services {
    padding-right: 0px;
    padding-left: 0px;
  }

  .container.service-points {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container.footer {
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero-content-block {
    width: 100%;
  }

  .heading-h1 {
    font-size: 55px;
    line-height: 70px;
  }

  .paragraph {
    width: auto;
    font-size: 16px;
    line-height: 30px;
  }

  .paragraph.work {
    font-size: 16px;
    line-height: 25px;
  }

  .paragraph.about {
    width: auto;
    font-size: 23px;
    line-height: 45px;
  }

  .menu-wrapper {
    padding-right: 30px;
    padding-left: 30px;
  }

  .menu-nav-wrapper {
    margin-left: 0px;
  }

  .nav-number-text-block {
    display: none;
  }

  .social-icons-wrapper {
    margin-top: 40px;
  }

  .work-wrapper {
    padding-bottom: 150px;
  }

  .heading-h2 {
    font-size: 44px;
    line-height: 64px;
  }

  .heading-h2.contact {
    width: auto;
  }

  .projects-block {
    max-width: none;
    min-width: 0px;
    margin-bottom: 0px;
  }

  .projects-outer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .project-wrapper {
    width: 92%;
    max-width: none;
    margin-bottom: 50px;
  }

  .heading-h3 {
    font-size: 30px;
    line-height: 45px;
  }

  .project-type {
    font-size: 14px;
    line-height: 20px;
  }

  .about-dots-image.rotated {
    width: 60px;
  }

  .services-image-overlay {
    display: none;
  }

  .services-heading-wrapper {
    width: auto;
  }

  .services-points-wrapper {
    margin-left: 0px;
    padding-left: 0px;
  }

  .services-points-outer-wrapper {
    width: 300px;
    margin-right: 0px;
  }

  .services-points-outer-wrapper.first {
    margin-right: 155px;
  }

  .service-type {
    color: #1f1e1d;
  }

  .service-type-background-on-hover {
    background-color: #eee;
  }

  .footer-block {
    width: auto;
    height: auto;
    margin-left: 0px;
  }

  .footer-block.second {
    margin-left: 100px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .footer-text-block {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .hero-wrapper {
    height: 700px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .header {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container.hero {
    max-width: 1200px;
    margin-top: 80px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container.work {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container.footer {
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero-content-block {
    width: 100%;
  }

  .heading-h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .paragraph {
    width: auto;
    font-size: 14px;
    line-height: 25px;
  }

  .paragraph.work {
    font-size: 14px;
    line-height: 25px;
  }

  .paragraph.about {
    width: auto;
    font-size: 18px;
    line-height: 35px;
  }

  .paragraph.footer {
    margin-top: 30px;
    line-height: 20px;
  }

  .button-text {
    font-size: 14px;
  }

  .sroll-animation-wrapper {
    right: 30px;
    bottom: 50px;
  }

  .scroll-line {
    height: 60px;
  }

  .menu-wrapper {
    height: 100vh;
    padding-right: 30px;
    padding-left: 30px;
  }

  .menu-nav-wrapper {
    margin-left: 0px;
  }

  .menu-content-wrapper {
    width: 200px;
  }

  .footer-link-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .social-icons-wrapper {
    margin-top: 40px;
  }

  .work-wrapper {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .heading-h2 {
    font-size: 35px;
    line-height: 50px;
  }

  .heading-h2.contact {
    width: auto;
  }

  .projects-block {
    max-width: none;
    min-width: 0px;
    margin-bottom: 0px;
  }

  .projects-outer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .project-wrapper {
    width: 90%;
    max-width: none;
    margin-bottom: 50px;
  }

  .product-image {
    height: 590px;
  }

  .heading-h3 {
    font-size: 25px;
    line-height: 40px;
  }

  .project-type {
    font-size: 14px;
    line-height: 20px;
  }

  .about-dots-image.rotated {
    width: 60px;
  }

  .services-wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .services-image {
    height: 450px;
    margin-top: 140px;
    margin-bottom: 140px;
  }

  .services-image-overlay {
    display: none;
    overflow: visible;
  }

  .services-heading-wrapper {
    width: auto;
  }

  .services-points-wrapper {
    width: 90%;
  }

  .services-points-outer-wrapper.first {
    width: 260px;
    margin-right: 50px;
  }

  .service-point-block {
    margin-bottom: 10px;
  }

  .service-type {
    color: #1f1e1d;
    font-size: 14px;
    line-height: 25px;
  }

  .service-type-background-on-hover {
    background-color: #eee;
  }

  .footer-block {
    width: auto;
    height: auto;
    margin-top: 50px;
  }

  .footer-inner-block.second {
    margin-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  .hero-wrapper {
    height: 100vh;
    padding-right: 10px;
    padding-left: 10px;
  }

  .header {
    padding-right: 10px;
    padding-left: 10px;
  }

  .logo-link-block.w--current {
    width: auto;
    max-width: 80%;
    font-size: 15px;
    line-height: 15px;
  }

  .header-email-link-wrapper-1 {
    display: none;
  }

  .menu-icon-wrapper {
    width: 40px;
    height: 40px;
  }

  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .container.hero {
    max-width: 1200px;
    margin-top: 90px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container.about {
    padding-right: 10px;
    padding-left: 10px;
  }

  .container.services {
    padding-right: 0px;
    padding-left: 0px;
  }

  .container.service-points {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .container.footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero-content-block {
    width: 100%;
  }

  .heading-h1 {
    width: auto;
    font-size: 30px;
    line-height: 50px;
  }

  .paragraph {
    width: auto;
    font-size: 14px;
    line-height: 25px;
  }

  .paragraph.work {
    font-size: 14px;
    line-height: 25px;
  }

  .paragraph.about {
    font-size: 16px;
    line-height: 30px;
  }

  .paragraph.footer {
    width: 240px;
    margin-top: 30px;
  }

  .hero-button-link-block {
    font-size: 14px;
    line-height: 20px;
  }

  .hero-button-link-block.w--current {
    margin-top: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  .sroll-animation-wrapper {
    right: 30px;
    bottom: 50px;
  }

  .scroll-line {
    height: 40px;
  }

  .scroll-text-block {
    font-size: 10px;
  }

  .menu-wrapper {
    height: 100vh;
    padding-right: 10px;
    padding-left: 10px;
  }

  .menu-inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .menu-nav-wrapper {
    margin-left: 0px;
  }

  .menu-content-wrapper {
    width: 200px;
    margin-top: 50px;
  }

  .footer-link-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .social-icons-wrapper {
    margin-top: 40px;
  }

  .social-icon-link.menu {
    margin-right: 30px;
  }

  .work-wrapper {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .featured-heading-wrapper {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Montserrat, sans-serif;
  }

  .heading-h2 {
    font-size: 25px;
    line-height: 40px;
  }

  .heading-h2.contact {
    width: auto;
  }

  .all-projects-wrapper {
    margin-top: 80px;
  }

  .projects-block {
    max-width: none;
    min-width: 0px;
    margin-bottom: 0px;
  }

  .projects-outer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    font-family: Montserrat, sans-serif;
  }

  .project-wrapper {
    width: 90%;
    max-width: none;
    margin-bottom: 50px;
  }

  .product-image {
    height: 360px;
  }

  .project-content-wrapper {
    right: -20px;
    bottom: 30px;
  }

  .heading-h3 {
    color: #1f1e1d;
    font-size: 20px;
    line-height: 30px;
  }

  .project-type {
    color: #1f1e1d;
    font-size: 14px;
    line-height: 20px;
  }

  .about-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about-text-block {
    margin-bottom: 20px;
  }

  .about-dots-image {
    right: 10%;
    bottom: -90px;
    width: 50px;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .about-dots-image.rotated {
    bottom: -10px;
    width: 40px;
  }

  .services-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .services-text-content {
    padding-right: 10px;
    padding-left: 10px;
  }

  .services-heading-block.first {
    width: auto;
  }

  .services-image {
    height: 250px;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .services-image-overlay {
    display: none;
  }

  .services-heading-wrapper {
    width: auto;
    margin-bottom: 80px;
  }

  .services-points-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .services-points-outer-wrapper.first {
    width: 240px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .service-point-block {
    margin-bottom: 10px;
  }

  .service-type {
    font-size: 14px;
    line-height: 25px;
  }

  .service-type-background-on-hover {
    background-color: #eee;
  }

  .contact-section {
    padding-top: 0px;
  }

  .contact-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-block {
    width: auto;
    height: auto;
    margin-top: 30px;
  }

  .footer-logo-wrapper {
    width: 300px;
  }
}

